$f: Roboto;
$f2:Roboto;
$f3Header:'Noto Serif Display', serif;
$fsize2:10px;
$fWeit:300;
$fsize:19px;
$color-text-head:rgb(0, 0, 100);
$color-text-body:rgb(0, 0, 10);
$color-text-light-head:rgb(230, 230, 250);
$color-text-light-body:rgb(90, 90, 90);